<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>adidas</title>
</head>
<body style="background-color:powderblue;">
    <h1>adidas online store!</h1>
    <h2> we are selling sport t-shirts and shoes because there is nothing best than doing sports with style:) </h2>
    <h1>the most beautiful t-shirts in town</h1>
    <img src="static/adidas5.webp">
    <h1>the best shoes ever</h1>
    <img src="static/adidas6.webp">
        <a href="/product">
            <button>product page </button>
            </a> 
        <a href="/cart">
            <button>cart page </button>
            </a> 
</html>