s<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <img src="static/ADIDASSHOES1.jpg">
    <h1>Ultraboost 5.0 DNA Shoes</h1>
<h3>$190</h3>
<h2>Off White / Almost Blue / Bliss Orange
Great catch! This exclusive product</h2>
<img src="static/adidas2.jpeg">
<h1>NMD_R1 Shoes</h1>
<h3>$150</h3>
<h1>OUR T-shirts</h1>
<img src="static/adidas3.webp">
<h1> blue t-shirt</h1>
<h3>50$</h3>
<img src="static/adidas4.webp">
<h1>adidas Adventure Mountain Front Tee</h1>
<h3>40$</h3>
</head>
<body style="background-color:powderblue;">
    <a href="/">
            <button>home page </button>
    <a href="/cart">
            <button>cart page </button>


</body>
</html>